.custom-navbar {
    background-color: #847DAA !important; 
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-navbar .nav-link-custom {
    font-size: 1.1rem;
    color: #fff !important; 
    margin-left: 200px;

  }
  
  .custom-navbar .nav-link-custom:hover {
    color: #783d8b !important;
  }
  